{# Michael P. Reilly (c) 2016 All rights reserved. #}
{% set title = "Help" %}
{% extends "base.tmpl" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{basepath}}/static/help.css"/>
{% endblock %}
{% block navsidebar %}
{% include "nav_help.tmpl" %}
{% if active %}
<script>
document.getElementById('{{active}}').classList.add('active');
</script>
{% endif %}
{% endblock navsidebar %}
{% block content %}
{% block breadcrumbs %}
{% set lastcrumb = [""] %}
<div id="breadcrumbs">
{% for crumb in crumbs %}
{% if lastcrumb.append(crumb) %} {% endif %}
<span class="crumb">
<a href="{{lastcrumb | join("/")}}">{{crumb | replace('_', ' ') | title}}</a>
</span>&nbsp;
{% endfor %}
</div>
{% endblock %}
    <div class="body">
{% block body %}
{% endblock %}
    </div>  <!-- body -->
</div>
{% endblock content %}
