{# Michael P. Reilly (c) 2016 All rights reserved. #}
{% set crumbs = ["help"] %}
{% extends "help/format.tmpl" %}
{% block body %}
<h1>Inquisitor</h1>
<p>
This is a web-based, multi-user platform for managing test cases during a
live software release.
</p>
<p>
Multiple test engineers would view tests assigned to them, updating whether
a test failes or passes.
</p>
<p>
Managers have a summary page, which shows the number of tests yet to be
done, by product and tester.
</p>
<p>
The release engineer(s) has a page to make the state transition of the
products, being deployed, being tested, verified, unused.
</p>
<p>
Administrators have access to the test cases and tester assignments.
</p>
{% endblock %}
