{# Michael P. Reilly (c) 2016 All rights reserved. #}
{% set crumbs = ["help", "admin", "signal"] %}
{% extends "help/format.tmpl" %}
{% block body %}
<h2>Handling signals</h2>
<p>
Inquisitor handles signals to restart or stop the application and
reloading configuation files.
</p>
<p>
These are only in <a href="server_modes#standalone">standalone</a>
(and <a href="server_modes#proxy">"proxy"</a>) server mode.
</p>
<h3>Shutdown</h3>
<p>
Sending the <small>SIGTERM</small> signal will cause the application
to shutdown.
This can also be accessible through the
<a href="../page/admin_tools">Tools</a> admin page.
</p>

<h3>Restart</h3>
<p>
Sending the <small>SIGHUP</small> signal will cause the application
to restart, reloading the software modules again.
</p>

<h3>Config reload</h3>
<p>
Sending the <small>SIGUSR1</small> signal will cause the application
to reload the configuration file(s).
This can also be accessible through the
<a href="../page/admin_tools">Tools</a> admin page.
</p>

{% endblock %}
