/* Michael P. Reilly (c) 2016 All rights reserved */
/* inquisitor.static.block.css */

.prodblock {width:50%;border:1px solid black;margin:2px 0}
.prodtitle {background-color:#eee}
.prodtitle a {text-decoration:none;float:right}
.prodtext {}
