/* Michael P. Reilly (c) 2016 All rights reserved */
/* inquisitor.static.help.css */

#nav {
    width: 86px;
}
#breadcrumbs {
    border:solid #4CAF50 thin;
    padding-left:2px;
}
#breadcrumbs span a {
    padding:0;
    vertical-align:top;
    font-size:smaller;
    color:#4CAF50;
}
p {
    width: auto;
}
.pre {
    font-family:"Courier New",Courier,monospace;font-size:10pt;
}
.indent {
    margin-left:3em;
}
