/* Michael P. Reilly (c) 2016 All rights reserved */
/* inquisitor.static.main.css */

body {}

#header {font-family:Ariel,sans-serif;width:100%;border:ridge #4CAF50 thin}
.titlebar {float:left;font-family:"Times New Roman",Times,serif;font-style:oblique;font-size:40px;font-weight:bold}
.titlebar a {text-decoration:none}
.title {color:#4CAF50;text-shadow: 0px 0px 0px #000}
.subtitle {color:#4CAF50;font-size:30px;text-shadow: 0px 0px 0px #000}
.userpane {float:right;text-align:right;background-color:#eee}

#nav {position:absolute;left:0;height:100%}
ul.sidebar {float:left;height:90%;list-style-type:none;margin:0;padding:0}

li.sidebaritem a,button,input[type="text"],input[type="email"],input[type="password"],textarea,div.button a,span.button a,input[type="submit"],input[type="Reset"],select,div.button a,span.button a {border-radius:4px;border:1px solid #888;background-color:#eee;margin:2px;}

div.button a, span.button a, li.sidebaritem a {text-decoration:none;color:#000;}

div.button a, span.button a {display:inline-block;padding:1pt;}

li.sidebaritem a {display:block;padding:0;text-align:center;}

button,input[type="text"],input[type="email"],input[type="password"],textarea {box-shadow:inset 1px 1px 4px #000;}

li.sidebaritem a,div.button a,span.button a,input[type="submit"],input[type="Reset"],select {box-shadow:1px 1px 4px #000;}

input[type="checkbox"], input[type="radiobutton"] {}

li.sidebaritem a:hover, .button a:hover, a:hover, input[type="submit"]:hover, input[type="Reset"]:hover {background-color:#555;color:white;}
li.sidebaritem a:active,.button a:active, input[type="submit"]:active, input[type="Reset"]:active {background-color:#888;color:white}

.active a {background-color:#4CAF50 !important}
.refreshon a {background-color:lightGreen !important}
.refreshoff a {background-color:pink !important}

table.bycolumn tr td:nth-child(even), table.byrow tr:nth-child(even) {background-color:#eee}

tr.failure {background-color:pink !important}
tr.done {background-color:yellow !important}
tr.notstarted {background-color:lightGrey}
tr.deploying {background-color:lightBlue}
tr.testing {background-color:lightGreen}
tr.verified {background-color:green;color:white}

#content {margin:2px 0 0 90px;padding-bottom:16px}

#helpbox {border-radius:50%;border:2px solid blue;position:fixed;right:0;padding:2px 2px 2px 2px;text-align:center;vertical-align:middle;margin-top:1px;margin-right:5pt;width:10pt;height:10pt}
#helpbox a {display:inline-block;text-decoration:none;font-weight:bold;font-size:14pt;color:blue}

#footer {position:fixed;bottom:0;background-color:#fff;width:100%;height:14px;font-family:Ariel,sans-serif;font-size:12px;clear:both}
.version {float:left;width:40%}
.copyright {margin:auto;padding:0px 5px}
.currenttime {position:absolute;right:0}

#error {width:100%;border:2px red ridge}
